.sc-message--audio {
    padding: 5px 15px !important;
}

.sc-message--audio .rhap_time {
    font-size: 12px !important;
}

.sc-message--audio .rhap_progress-indicator {
    width: 15px;
    height: 15px;
    top: -5px;
}
  
.sc-message--audio .rhap_controls-section {
    margin-top: 0px !important;
}

.sc-message--audio .rhap_repeat-button svg {
    width: 18px;
    height: 18px;
    padding-bottom: 4px;
}

.sc-message--audio .rhap_play-pause-button svg {
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
}

.sc-message--audio .rhap_volume-button svg {
    width: 22px;
    height: 22px;
    padding-bottom: 2px;
}
