.sc-header {
  background: #4e8cff;
  height: 63px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.sc-header--img {
  border-radius: 50%;
  align-self: center;
  padding: 10px;
}

.sc-header--basic-info {
  align-self: center;
  flex: 10px;
}

.sc-header--bot-name {
  font-size: 14px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.85);
  font-family: 'DM Sans';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
}

.sc-header--bot-explanation {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85);
  font-family: 'DM Sans';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin: 0;
}

.sc-header--close-button {
  align-self: baseline;
  display: flex;
  margin-top: 8px;
  cursor: pointer;
  justify-content: center;
}

.sc-header--close-button:hover {
  background: #4882ed;
  border-radius: 5px;
  box-sizing: border-box;
}

.sc-header--close-button img {
  width: 14px;
  height: 14px;
}

@media (max-width: 450px) {
  .sc-header {
    border-radius: 0px;
  }
}