.sc-message--avatar-bot, .sc-message--avatar-staff {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    align-self: flex-start;
    margin-right: 8px;
}
