.sc-quick-replies-block {
  max-width: 100%;
  justify-content: center;
}

.sc-quick-replies-block.visible {
  display: flex;
}

.sc-quick-replies-block.hidden {
  display: none;
}

.sc-quick-replies {
  display: block;
  padding: 0px 12px 8px;
}

.sc-quick-reply {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 12px 8px;
}

.sc-quick-reply-button {
  display: block;
  padding: 6px 12px;
  margin-top: 8px;
  border-radius: 6px;
  border: 1px solid #CCCDD1;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #CCCDD1;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  transition: border-color .2s, background-color .2s, color .2s;
}

.sc-quick-reply-button:not(:last-child) {
  margin-right: 12px;
}

.sc-quick-reply-button:hover,
.sc-quick-reply-button:focus {
  border-color: #4e8cff;
  color: white;
  background-color: #4e8cff;
}
