.sc-user-input {
  min-height: 55px;
  max-height: 200px;
  margin: 0px;
  position: relative;
  bottom: 0;
  display: flex;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sc-user-input--text {
  display: flex;
  background-color: inherit;
  resize: none;
  border: none;
  outline: none;

  box-sizing: border-box;
  flex-grow:2;
  bottom: 0;

  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.45);

  transition: color .2s ease;
}

.sc-user-input--text.active {
  color: #000000;
}

/* .sc-user-input--text::placeholder {
  line-height: 600px;
} */

.sc-user-input--send-button {
  display: flex;
  flex-direction:row;
  width: 79px;
  height: 31px;
  margin-right: 13px;
  border-radius: 16px;
  background-color: transparent;
  border: none;
  align-self: center;
  padding: 5px 11px 4px 13px;
  transition: background-color .2s ease;
}

.sc-user-input--send-button.active {
  background-color: #6666ff;
}

.sc-user-input--send-button.active:hover {
  background-color: #1c3bcb;
  cursor: pointer;
}

.sc-user-input--send-button p {
  margin: 0px;
  padding-right: 6px;
  font-family: 'Lato' !important;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #bfbfbf;
}

.sc-user-input--send-button.active p {
  color: #ffffff;
}

.sc-user-input--buttons {
  position: relative;
  float: left;
  display: flex;
}

.sc-user-input--button {
  width: 30px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sc-user-input--button button {
  cursor: pointer;
}

.sc-user-input--buttons input[type="file"] {
  display: none;
}

.sc-user-input--picker-wrapper {
  display: flex;
  flex-direction: column;
}

.sc-user-input--file-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
  align-self: center;
  outline: none;
}

.sc-user-input--file-icon path {
  fill: rgba(86, 88, 103, 0.3);
}

.sc-user-input--send-icon {
  height: 12px;
  width: 12px;
  align-self: center;
}

.sc-user-input--send-icon path {
  fill: #bfbfbf;
  transition: fill .2s ease;
}

.sc-user-input--send-icon.active path {
  fill: #ffffff;
}

.sc-user-input--file-icon:hover path {
  fill: rgba(86, 88, 103, 1);
}

.sc-user-input--emoji-icon-wrapper,
.sc-user-input--file-icon-wrapper {
  background: none;
  border: none;
  padding: 2px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sc-user-input--file-icon-wrapper {
  flex-direction: row;
}

.sc-user-input--emoji-icon-wrapper:focus {
  outline: none;
}

.sc-user-input--emoji-icon {
  height: 18px;
  cursor: pointer;
  align-self: center;
}

.sc-user-input--emoji-icon path, .sc-user-input--emoji-icon circle {
  fill: rgba(86, 88, 103, 0.3);
  transition: fill .2s ease;
}

.sc-user-input--emoji-icon-wrapper:focus .sc-user-input--emoji-icon path,
.sc-user-input--emoji-icon-wrapper:focus .sc-user-input--emoji-icon circle,
.sc-user-input--emoji-icon.active path,
.sc-user-input--emoji-icon.active circle,
.sc-user-input--emoji-icon:hover path,
.sc-user-input--emoji-icon:hover circle {
  fill: black;
}
